div { 
    margin: 40px;
}

body {
    background-color: #e3cbed;
    font-family: 'Times New Roman', Times, serif
}

.orange {
    background-color: plum;
}

a {
    color: #6fa571;
    text-decoration: none;
}

section, ul {
    text-align: center;
}
h1 {
    border: 3px solid orange;
    text-align: center;
    font-weight: bold;
    color: #d62a86;
}